<form #userform="ngForm" (ngSubmit)="login()">

    <div *ngIf="!success" class="container" style="margin-left: 400px; margin-top: 60px;" >
    <div style="margin-top: 100px;">
        <label style="color: white;">UserName:</label>
        <input type="text" name="user" required #usernameControl="ngModel" [(ngModel)]="username"><br>
        <p style="margin-left: 75px;" *ngIf="usernameControl.touched && usernameControl.invalid">Username Required</p>
        <label style="color: white;">Password:</label>
        <input type="password" name="password" autocomplete="on" required #passwordControl="ngModel" [(ngModel)]="password"><br><br>
        <p style="margin-left: 75px;"*ngIf ="passwordControl.touched && passwordControl.invalid">Password Required</p>
        <p *ngIf="userform.valid && !success && onclick">Enter correct credentials</p>
        <button style="margin-left: 185px" class="btn btn-success" type="Submit">Login</button><br>
    </div>
    </div>
</form>
<h1 *ngIf="success">Already Logged In</h1>
